body{
    margin: 0;
}
.top-container {
    background-color: #E4F9F5;
}
h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.middle-container {
    background-color: red;
    width: 200px;
    height: 200px; 
}
.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.pro{
    text-decoration: underline;
}